{% assign item = include.item %}
{% if item.collection == 'teaching' %}
<p> {{ item.type }}, <i>{{ item.venue }}</i>, {{ item.date | default: "1900-01-01" | date: "%Y" }} </p>
{% elsif item.collection == 'publications' %}
<p>Published in <i>{{ item.venue }}</i>, {{ item.date | default: "1900-01-01" | date: "%B %Y" }}. Links: <a
    href="{{ item.paperurl }}">journal</a>
  <!--
    ,
     <a href="https://arxiv.org/abs/{{ item.arxiv }}">arXiv:{{ item.arxiv }}</a>
   -->
</p>
{% elsif item.collection == 'preprints' %}
<p>
  arXiv preprint
  {% if item.accepted %}
  (Accepted: To appear in {{ item.accepted }}.)
  {% elsif item.submitted %}
  (Submitted)
  {% endif %},
  {{ item.date | default: "1900-01-01" | date: "%B %Y" }}.
  Link: <a href="https://arxiv.org/abs/{{ item.arxiv }}">arXiv:{{ item.arxiv }}</a>
</p>
{% elsif item.collection == 'books' %}
<p>Published in <i>{{ item.venue }}</i>, {{ item.date | default: "1900-01-01" | date: "%B %Y" }}. Link: <a
    href="{{ item.paperurl }}">{{ item.venue }}</a>
</p>
{% elsif item.collection == 'miscellaneous' %}
<p>Published in <i>{{ item.venue }}</i>, {{ item.date | default: "1900-01-01" | date: "%B %Y" }}. Link: <a
    href="{{ item.paperurl }}">{{ item.paperurltext | default: "PDF" }}</a>
</p>
{% elsif item.date %}
<p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{
    site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
    datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | default: "1900-01-01" | date: "%B %d, %Y"
    }}</time></p>
{% endif %}
